@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title -  StackOverflow</title>
    @Scripts.Render("~/Scripts/bootstrap")
    @Styles.Render("~/Styles/bootstrap")
    @Styles.Render("~/Styles/site")

</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm text-light navbar-light">
            <a class="navbar-brand" href="#">Stack<strong>Overflow</strong></a>

            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavBar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavBar">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item active'">
                        <a class="nav-link" href="/home/index">Home</a>
                    </li>
                    <li class="nav-item '">
                        <a class="nav-link" href="/home/about">About</a>
                    </li>
                    <li class="nav-item'">
                        <a class="nav-link" href="/home/contact">Contact</a>
                    </li>
                    <li class="nav-item'">
                        <a class="nav-link" href="/allquestions">Question</a>
                    </li>
                    <li class="nav-item'">
                        <a class="nav-link" href="/home/categories">Categories</a>
                    </li>


                </ul>
                <form class="form-inline " action="/home/search">
                    <input type="search" class="form-control mr-sm-2" style="width:450px" placeholder="Search"
                           name="str" />
                    <button type="submit" class="btn btn-success">Search</button>
                </form>
                <ul class="navbar-nav ml-auto">
                    @if (Session["CurrentUserName"] == null)
                    {
                        <li class="nav-item'">
                            <a class="nav-link" href="/account/login"><button class="btn btn-info">Login</button></a>
                        </li>
                        <li class="nav-item'">
                            <a class="nav-link" href="/account/register"><button class="btn btn-primary">Register</button></a>
                        </li>
                    }

                    @if (Session["CurrentUserName"] != null)
                    {
                        <li class="nav-item dropdown mr-5">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                <img src="~/Images/user.png" width="20px" />
                                @Session["CurrentUserName"]
                            </a>
                            <div class="dropdown-menu bg-light">
                                <a class="dropdown-item" href="/account/logout">Logout</a>
                                <a class="dropdown-item" href="/account/changeprofile">Change Profile</a>
                                <a class="dropdown-item" href="/account/changepassword">Change Password</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </nav>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
